body{
    background-color: #131313;
}

h1{
    color: white;
    font-family: roboto;
}

p{
    color: #bdbdbd;
    font-family: Roboto;
}

h2{
    color:steelblue;
}

a{
    color: yellow;
}

.review-score{
    background-color: #e6bd09; 
}
.media-picture{
    width: 1200px;
    height: 345px;
    background-image: url('../img/');
    background-size: cover;
}